* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    color: black;
}

.main-add {
    margin-left: 250px; /* Align with the sidebar's width */
    padding: 20px; /* Match the padding of the main content */
    background-color: #f1f1f1; /* Match the body background */
    height: auto;
    min-height: calc(100vh - 70px); /* Adjust to fit below the header */
}

.login-add {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 40px; /* Add more padding for a balanced look */
    max-width: 100%;
    margin: auto;
    min-height: 500px;
    display: flex; /* Use flexbox for equal spacing */
    flex-direction: column;
    justify-content: space-between; /* Space out the content evenly */
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Increase spacing between form fields */
    flex-grow: 1; /* Make the form grow to fill available space */
    justify-content: space-around; /* Distribute the form elements evenly */
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #15223b; /* Use the primary color from the header */
    text-align: left; /* Align the heading to the left */
}

label {
    padding-bottom: 50px;
    font-weight: bold;
    color: #333;
}

input, select {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
}

input:focus, select:focus {
    border-color: #6F00FF; /* Match the button hover color */
    outline: none;
}

button {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #6F00FF; /* Match the Add button color */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #15223b; /* Match the button hover color */
}

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.info-add {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.user-content-add {
    flex: 1;
}


.user-content-button-add {
    text-align: right;
}