body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

footer {
    text-align: center;
    padding: 20px;
    width: 100%;
}

.text {
    text-align: center;
    font-size: 0.9rem;
}

footer p {
    margin: 0;
}
